.banner-ctn {
    background-color: gray;
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  
  .banner-content {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .banner-title {
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 2xl;
    font-weight: bold;
  }
  
  