.results {
    text-align: center;
    margin-top: 6px;
    font-size: 2xl;
  }
  
  .img-ctn {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 4px;
    max-width: 5xl;
  }
  
  @media (min-width: 768px) {
    .img-ctn {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .img-ctn {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  .animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  .img-cards {
    margin-bottom: 20px;
  }
  
  .img-section {
    background-color: black;
    border-radius: 10px;
    height: 72px;
  }
  