.address-ctn {
    background-image: url('../assets/img-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .contact-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .contact-card {
    width: 23%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: aqua;
  }
  
  .btnA {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  