body {
    margin: 0;
    padding: 0;
    background-color: rgb(94, 71, 192);
  }
  
  .title {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  .findimg-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button.srchbtn {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  
  .grid-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  